body, html {
    font-family: "Source Code Pro", monospace;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#pdf-container {
    position: relative;
    width: 100%;
    height: 100%; /* Adjust as necessary */
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.15);
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

#screenOff {
    z-index: 1;
    transition: opacity 2s;

}

#screenOn {
    z-index: 2;
    opacity: 0;
    transition: opacity 2s, transform 2s;
}

.zoom-in {
    transform: scale(1.5);
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition-duration:0.2s;
}

#loading-bar-container {
    width: 50%;
    background-color: #000;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto; /* Center the loading bar container */
}

#loading-bar {
    width: 0;
    height: 20px;
    background-color: #76c7c0;
    border-radius: 5px 0 0 5px;
    transition: width 2s;
}

#loading-text {
    color: white;
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}

